<!-- <div class="container">

    <h1 class="text-center">International patients treatment management system</h1>

    <form [formGroup]="employeeForm" class="form" (ngSubmit)="handleSubmit()" >
        <label>User Name:</label>
        <input type="text" formControlName="userName" class="form-control" />
        <label>Password:</label>
        <input type="password" formControlName="password" class="form-control" />
        <br>
        <input type="submit" class="btn btn-primary" value="Login" >
    </form>

    <input type="button" value="GET TOKEN" (click)="getToken()" />

</div>  -->


<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row"> <img src="../../assets/Hospital-Logo.png" class="logo"> </div>
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="../../assets/hospital.jpg" class="image"> </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                    
                    <div class="row mb-4 px-3">
                        <h3 class="text-capitalize display-6">International patient treatment management system</h3>
                    </div>
                    
                    <br>


                <form [formGroup]="UserDetails" class="form" (ngSubmit)="handleSubmit()" >
                        <div class="row px-3"> 
                            <label class="mb-1">    <h6 class="mb-0 text-sm err">Username
                            <span *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="text-danger">
                                &nbsp;*required</span>
                            </h6></label> 
                            <input class="mb-4" type="text" formControlName="userName" placeholder="Enter Username">
                             
                        </div>
                        <div class="row px-3"> 
                            <label class="mb-1">  <h6 class="mb-0 text-sm">Password
                                <span *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                                    &nbsp;*required</span>
                            </h6>  </label> 
                            <input type="password" formControlName="password" placeholder="Enter password"> 
                        </div>
                            <br>
                        <div class="row mb-3 px-3"> 
                            <button type="submit" class="btn btn-blue text-center">Login</button> 
                        </div>
                        <b *ngIf="errorMessage" class="text-danger">{{errorMessage}}</b>
                </form>
                </div>
            

            </div>
        </div>
        <div class="bg-blue py-4">
            <div class="row px-3"> <small class="ml-4 ml-sm-5 mb-2">Copyright &copy; 2021. All rights reserved.</small>
                
            </div>
        </div>
    </div>
</div>